@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans.ttf') format('truetype');
}

html,
body { 
  height: 100%;
}

.wrapper {
  max-width: 100vw;
  display: flex;
  flex-flow: column;
  font-family: 'Open Sans';
  margin: 4.25vw;
  font-size: 3vw;
  @media screen and (min-width: 426px) {
    margin: 2.4vw;
    font-size: 0.8vw;
    box-sizing: border-box;
  }
}

.wrapper h1 {
  font-size: 2.66em;
  margin: 0;
}

.wrapper p {
  font-size: 1.16em;
  color: #808080;
  margin: 24px 0 24px 0;
}

.checkboxLabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
  font-size: 1.3em;
}

.checkbox {
  margin: 2px 5px 0 0;
}

.productsListPreloaderWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  
}


