@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans.ttf') format('truetype');
}

.wrapper {
  max-width: 100vw;
  display: flex;
  flex-flow: column;
  font-family: 'Open Sans';
  padding: 4.25vw;
  @media screen and (min-width: 426px) {
    padding: 2.4vw;
  }
}

.wrapper h1 {

}

.productsWrapper {
  display: flex;
  flex-flow: column;
  @media screen and (min-width: 426px) {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}


